*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(158, 5, 158), rgb(11, 182, 235));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 75px;
    color: white;
    margin-bottom: 50px;
    
}
h4, p{
    color: white;
    margin-bottom: 10px;

}
h1,h4,p{
    text-align: center;
    font-style: italic;
}

